<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <preference for="Magento\Customer\Model\EmailNotification" type="Web\Base\Model\EmailNotificationCustom" />
    <preference for="Magento\ConfigurableProduct\Pricing\Render\FinalPriceBox" type="Web\Base\Pricing\Render\FinalPriceBox" />
</config> 