<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Magento\SalesRule\Model\Quote\Address\Total\ShippingDiscount" type="Sparx\Couponss\Model\Rewrite\SalesRule\Quote\Address\Total\ShippingDiscount" />

</config>
