<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="auto_guest_orders" frontName="auto_guest_orders">
            <module name="RedChamps_GuestOrders" before="Magento_Backend"/>
        </route>
    </router>
</config>
